<div class="orders-container">
  <h2>My Orders</h2>

  <!-- Loading -->
  <div class="empty-orders" *ngIf="loading">
    Loading orders...
  </div>

  <!-- No Orders -->
  <div class="empty-orders" *ngIf="!loading && orders.length === 0">
    📦 No orders found
  </div>

  <!-- Orders -->
  <div class="order-card" *ngFor="let order of orders">
    <div class="order-header">
      <div><button
  class="cancel-btn"
  (click)="cancelOrder(order.id)">
  Cancel Order
</button>
</div>
      <div>
        <p><strong>Order ID:</strong> #{{ order.id }}</p>
        <p><strong>Date:</strong> {{ order.date | date:'mediumDate' }}</p>
      </div>
      <div class="order-total">
        ₹{{ order.total }}
      </div>
    </div>

    <div class="customer-info">
      <p><strong>Name:</strong> {{ order.customer.name }}</p>
      <p><strong>Payment:</strong> {{ order.customer.payment }}</p>
    </div>

    <div class="order-items">
      <div class="item" *ngFor="let item of order.items">
        <img [src]="item.image">
        <div class="item-details">
          <h4>{{ item.name }}</h4>
          <p>Qty: {{ item.qty }}</p>
          <p>₹{{ item.price }}</p>
        </div>
        <div class="item-total">
          ₹{{ item.price * item.qty }}
        </div>
      </div>
    </div>
  </div>
</div>
