<div class="product-detail-container" *ngIf="!isLoading && product">

  <div class="image-section">
    <img [src]="product.image" alt="{{ product.name }}" />
  </div>

  <div class="info-section">

    <h1>{{ product.name }}</h1>
    <p>{{ product.category }} • {{ product.subCategory }}</p>

    <h2>₹{{ product.price }}</h2>

    <p><strong>Brand:</strong> {{ product.brand }}</p>

    <p [class.out]="product.quantity === 0">
      {{ product.quantity > 0 ? 'In Stock' : 'Out of Stock' }}
    </p>

    <button
      class="add-cart"
      [disabled]="product.quantity === 0"
      (click)="addToCart(product)">
      Add to Cart
    </button>

  </div>
</div>

<div *ngIf="isLoading">Loading...</div>
