<div class="products-page">

  <h2 class="page-title">Products</h2>

  <!-- Loading -->
  <div class="loading" *ngIf="isLoading">
    Loading products...
  </div>

  <!-- CATEGORY SECTIONS -->
  <div *ngFor="let category of categories" class="category-section">

    <h3 class="category-title">{{ category }}</h3>

    <div class="product-grid">

      <div class="product-card" *ngFor="let product of groupedProducts[category]">

        <a [routerLink]="['/product', product.id]" class="image-box">
          <img [src]="product.image" alt="{{ product.name }}">
        </a>

        <div class="product-details">
          <h4>{{ product.name }}</h4>

          <p class="sub">{{ product.subCategory }}</p>

          <p class="brand">{{ product.brand }}</p>

          <div class="price-box">
            <span class="price">₹{{ product.price }}</span>
            <span class="discount" *ngIf="product.discount">
              {{ product.discount }}% OFF
            </span>
          </div>

          <button class="add-cart">
            Add to Cart
          </button>
        </div>

      </div>

    </div>
  </div>

</div>
