<div class="login-container">

  <!-- LOGIN FORM -->
  <form
    *ngIf="isLogin"
    class="login-box"
    (ngSubmit)="loginUser()"
    #loginForm="ngForm"
  >
    <h2>Sign In</h2>
    <p>Welcome back! Please login</p>

    <div class="input-group">
      <input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="user.email"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="user.password"
        required
      />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">
      Login
    </button>

    <div class="signup">
      Don’t have an account?
      <a (click)="toggle()">Create Account</a>
    </div>
  </form>

  <!-- SIGNUP FORM -->
  <form
    *ngIf="!isLogin"
    class="login-box"
    (ngSubmit)="signupUser()"
    #signupForm="ngForm"
  >
    <h2>Create Account</h2>
    <p>Create your account to start shopping</p>

    <div class="input-group">
      <input
        type="text"
        placeholder="Full Name"
        name="name"
        [(ngModel)]="user.name"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="user.email"
        required
      />
    </div>

    <div class="input-group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="user.password"
        required
        minlength="6"
      />
    </div>

    <button type="submit" [disabled]="signupForm.invalid">
      Sign Up
    </button>

    <div class="signup">
      Already have an account?
      <a (click)="toggle()">Login</a>
    </div>
  </form>

</div>
